[submodule "Libraries/glfw"]
	path = Libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Libraries/entt"]
	path = Libraries/entt
	url = https://github.com/skypjack/entt.git
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt.git
